<vitaba-responsive-header></vitaba-responsive-header>
<p class="sample"> Sample </p>
<!-- <vitaba-header-title
    [data]="headerData"
    [styles]="{}"
    > </vitaba-header-title><vitaba-card-list></vitaba-card-list>
<vitaba-avatar-item [data]="avatarData">
        <ng-template #nameExtraTemplate> <b>Date content-projection</b> </ng-template>
</vitaba-avatar-item>
<form [formGroup]="form">
    <vitaba-input-label [data]="{
        label: 'Name'
    }">

    </vitaba-input-label>
    <vitaba-input-control [config]="{
    type: 'tel',
    placeholder:'jrjrj'
    }">
    
    </vitaba-input-control>
</form>
<button (click)="init()">Init</button> -->