    <vitaba-responsive-header>
        <img class="company-logo" src="https://beta-pinebox.web.app/assets/imgs/logo.png">
    </vitaba-responsive-header>
    <!-- ... -->

<!-- <button class="w-full md:bg-blue-500 sm:bg-red-500"> Button </button>

<p class="sample"> Sample </p> -->
<vitaba-header-title
    [data]="headerData"
    > </vitaba-header-title>
<!--     
    <vitaba-card-list></vitaba-card-list>
<vitaba-avatar-item [data]="avatarData">
        <ng-template #nameExtraTemplate> <b>Date content-projection</b> </ng-template>
</vitaba-avatar-item>
<form [formGroup]="form">
    <vitaba-input-label [data]="{
        label: 'Name'
    }">

    </vitaba-input-label>
    <vitaba-input-control [config]="{
    type: 'tel',
    placeholder:'jrjrj'
    }">
    
    </vitaba-input-control>
</form>
<button (click)="init()">Init</button> -->